
Praktikum2/src/andre/
Praktikum2/src/piegames/
Praktikum2/src/lab/HashTable.java
Praktikum2/bin/

Praktikum3/bin/
Praktikum3/src/lab/B_Tree.java
Praktikum3/src/lab/B_TreeNode.java

Praktikum3/src/server/
